/***all the font unless specified is Helvetica*/
body{
  font-family: "Helvetica";
  transition-duration: .3s;
}
/*light and dark theming*/
.light{
  background-color: #f2f2f2;
}

.dark{
  background-color: #080808;
  color:white;
}
/*** all of the css of the navbar*/
/* make navbar the width of the screen and sticky */
ul{
  position: sticky;
  position: -webkit-sticky;
  top:0;
  margin:0px;
  padding:0px;
  list-style: none;
  width:100%;
}

*{
  margin: 0;
}
/* styling the news intro */
h1{
  text-align: center;
  font-size: 48px;
  font-family: "Courier";
}
/* style all of the big headers of the navbar */
ul li{
  color:white;
  float:left;
  width:20vw;
  height:4vw;
  background-color: black;
  opacity:.8;
  line-height: 4vw;
  text-align: center;
  font-size:1.8vw;
}

ul li a{
  text-decoration: none;
  color:white;
  display:block;
}
/* makes the navbar dropdown elements hidden */
ul li ul li{
  display:none;
  z-index: 1000000;
}
/* displays dropdown items when hovered */
ul li:hover ul li{
  display:block;
  opacity:1;
  overflow: hidden;
}
/* changes color of items on hover */
ul li ul li:hover{
  background-color:green;
}

ul li:hover{
  background-color: #333;
}

ul li a.active{
  background-color:green;
}
/* makes img full width of screen (just filler rn) */
img{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* added text on picture */
.container {
  position:inherit;
  text-align: center;
  color: white;
  z-index: 1;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6vw;
    color:white;
    background-color: #282828;
    opacity: .8;
    transform: translate(-50%, -50%);
}
/*** makes the entire news box structure a flexbox */
.colorboxes{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
}
/* sets width and height of boxes */
.box{
  width:30%;
  height:70vh;
  text-align: center;
}
/* styles pictures inside the boxes */
.box img{
  height:18vw;
  width:28vw;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}
/* style's the boxes text */
.box h2{
  font-family:"Helvetica";
  font-weight:bold;
  font-size:3vw;
}

.box p{
  font-size:1.8vw;
  font-weight:lighter;
}
/* changes the box color based on light or dark */
.light #box1{
  background-color: #C8C8C8;
}

.light #box2{
  background-color: #66b2b2;
}

.light #box3{
  background-color: #C8C8C8;
}

.dark #box1{
  background-color: #383838;
}

.dark #box2{
  background-color:#008080;
}

.dark #box3{
  background-color: #383838;
}
/* transition duration for box color */
#box1{
  transition-duration: .3s;
}

#box2{
  transition-duration: .3s;
}

#box3{
  transition-duration: .3s;
}
/* styles button for light/dark transition */
.btn{
  position: absolute;
  top: 70%;
  left: 44%;
  font-size: 2.4vw;
  cursor: pointer;
}
/* all the slideshow styling */
#slideshow{
  position: static;
  top: 12vw;
  width:80%;
  height: 45vw;
  margin: 0 auto;
  position: relative;
  align-content: center;
  z-index: 0;
}
#slideshow>img{
  width: 75%;
  height: 100%;
  position: ;
}
#slideshow>button{
  position: absolute;
}
.slide{
  align-content: center;
  height: 50vw;
  width: 70vw;
  z-index: 0;
}
