/* centering the image */
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  z-index:0;
}
/* teal for 35w seals */
body{
  background-color: #66b2b2;
  font-family:"Helvetica";
}

ul{
  position: sticky;
  position: -webkit-sticky;
  top:0;
  margin:0px;
  padding:0px;
  list-style: none;
  width:100%;
}

*{
  margin: 0;
}

ul li{
  color:white;
  float:left;
  width:20vw;
  height:4vw;
  background-color: black;
  opacity:.8;
  line-height: 4vw;
  text-align: center;
  font-size:1.8vw;
}

ul li a{
  text-decoration: none;
  color:white;
  display:block;
}
ul li ul li{
  display:none;
}

ul li:hover ul li{
  display:block;
  opacity:1;
}
ul li ul li:hover{
  background-color:green;
}

ul li a.active{
  background-color:green;
}

.logo{
  float:right;
}
#slideshow{
  position: static;
  top: 12vw;
  width:80%;
  height: 45vw;
  margin: 0 auto;
  position: relative;
  align-content: center;
}
#slideshow>img{
  width: 75%;
  height: 100%;
  position: ;
}
#slideshow>button{
  position: absolute;
}
.slide{
  align-content: center;
  height: 50vw;
  width: 70vw;
}
