/* teal for 35w seals */
body{
  background-color: #f2f2f2;
  font-family: "Helvetica";
}

ul{
  position: sticky;
  position: -webkit-sticky;
  top:0;
  margin:0px;
  padding:0px;
  list-style: none;
  width:100%;
}

*{
  margin: 0;
}

h1{
  text-align: center;
  font-size: 48px;
  font-family: "Courier";
}

ul li{
  color:white;
  float:left;
  width:20vw;
  height:4vw;
  background-color: black;
  opacity:.8;
  line-height: 4vw;
  text-align: center;
  font-size:1.8vw;
}

ul li a{
  text-decoration: none;
  color:white;
  display:block;
}
ul li ul li{
  display:none;
  z-index: 1000000;
}

ul li:hover ul li{
  display:block;
  opacity:1;
  overflow: hidden;
}
ul li ul li:hover{
  background-color:green;
}

ul li:hover{
  background-color: #333;
}

ul li a.active{
  background-color:green;
}

.logo{
  float:right;
}

img{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%
}

.container {
  position:inherit;
  text-align: center;
  color: white;
  z-index: 1;
}

.colorboxes{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
}

.box{
  width:30%;
  height:70vh;
  text-align: center;
}

.box img{
  height:18vw;
  width:28vw;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}

.box h2{
  font-family:"Courier New";
  font-size:3vw;
}

.box p{
  font-size:1.8vw;
}

#box1{
  background-color: #C8C8C8;
}

#box2{
  background-color: #66b2b2;
}

#box3{
  background-color: #C8C8C8;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 72px;
    color:white;
    background-color: #282828;
    opacity: .8;
    transform: translate(-50%, -50%);
}

#slideshow{
  position: static;
  top: 12vw;
  width:80%;
  height: 45vw;
  margin: 0 auto;
  position: relative;
  align-content: center;
  z-index: 0;
}
#slideshow>img{
  width: 75%;
  height: 100%;
  position: ;
}
#slideshow>button{
  position: absolute;
}
.slide{
  align-content: center;
  height: 50vw;
  width: 70vw;
  z-index: 0;
}
